html {
  height: 100vh;
  padding: 3rem;
  margin: 0;
  font-family: sans-serif;
  background-color: aliceblue;
}

body {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
}

* {
  box-sizing: border-box;
}

.chat{
    display: grid;
    grid-template-rows: 1fr 3rem;
    height: calc(100vh - 6rem);
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    padding: 1em;
    overflow-y: auto;
}

form {
    display: grid;
    grid-template-columns: 1fr 100px;
    border-top: 1px solid #eee;
}

input {
    padding: 1em;
    border: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto, Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue, sans-serif;
    font-size: 1.2em;
}

button {
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    background: linear-gradient(to right, #363795, #005C97);
}

button:hover {
    background: linear-gradient(90deg, rgba(54,55,149,1) 0%, rgba(0,92,151,1) 62%, rgba(0,125,205,1) 100%);
}

[data-author="me"] {
  background: linear-gradient(to right, #363795, #005C97);
  color: white;
  align-self: flex-end;
  border-bottom-right-radius: 0!important;
  border-bottom-left-radius: 10px!important;
}

.message {
    background-color: aliceblue ;
    padding: 1em;
    border-radius: 10px;
    flex-grow: 0;
    border-bottom-left-radius: 0;
}
